
    .btn-opcao {
        background-color: transparent;
        border: none;
        margin-left: 12px;
        padding: 10px;
        &:hover {
            background-color: #958afc;
        }
    }
